.mainContainer{
    margin-top: 75px;
    background: radial-gradient(at center center, rgba(42, 5, 143, 0.8) 0%, rgba(42, 5, 143, 0.8) 100%),  url("/bg.jpg");
    z-index: 1;
}

.text{
    margin: 2rem;
    color: red;
    font-size: 35px;
}

.Paragraph{
    color: white;
    margin: 2rem;
}
.heading{
    color: red;
    text-align: center; 
    margin: 2rem;
}