.mainDiv{
    background: radial-gradient(at center center, rgba(42, 5, 143, 0.76) 0%, rgba(42, 5, 143, 0.76) 100%),  url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
}
.container { 
    width: 100%;
    height: 100vh;
  };
  
.picture {
    text-align: right;
    z-index:  -1;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    overflow-x: hidden !important;
    margin-top: 60px;
    }

    .gif {
        text-align: right;
        z-index:  -1;
        width: 100%;
        height: 100%;
        position: absolute;
        background: blue;
        overflow: hidden;
        margin-left: 200px;
        float: right !important;
        overflow-x: hidden !important;
        }


.heading {
    font-size: 40px;
    color: white !important;
    overflow: hidden;   
    }

    .btn{
        position: absolute; 
       font-size: 20px;
       font-weight: bold;
        border-radius: 30px;
        width: 150px;
        height: 40px;
        z-index: 1;
        background-color:#028A0F !important;
        border-color: #028A0F !important;
        color: white;
        text-transform: uppercase;
        
    }
    .btn2{
        background-color: #0c7c17 !important;
    border-color: #0c7c17 !important;  
    }

    .footerButton{
        background-color:#e8cc68 !important;
        border-color: #e8cc68;
        font-weight: bold;
        color: #2f4e71;
    }
    .footerButton :hover{
        background-color: #f5d76e !important;
        border-color: #f5d76e !important;  
    } 
    .footerButton :focus{
        background-color: #d6bc5e !important;
        border-color: #d6bc5e !important;  
    } 

    .btn2{
        position: absolute; 
        width: 150px !important;
        height: 40px;
        font-size: 18px;
        font-weight: bold;
        margin-left: 180px;
        border-radius: 30px;
        width: 180px;
        z-index: 1;
        background-color:rgba(235,33,136,1) !important;
        border-color: rgba(235,33,136,1) !important;
        color: white;
    }

    .btn2 :hover{
        background-color: rgb(233, 40, 140) !important;
        border-color: rgb(233, 40, 140) !important;  
        color: white;
    }

       @media screen and (max-width: 800px)and (min-width: 730px) {
        .maindiv{   
            height: 100vh;
        }
        .heading{
            top: 20%;
        }
        .btn {
        margin-top: 520px !important;
        
        } 
        .btn2 {
            margin-top: 520px !important;
            margin-left: 160px;
        }
        .heading{
            font-size: 28px !important;
        }
       }

       @media screen and (max-width: 729px)and (min-width: 670px) {
        .maindiv{
           
            height: 100vh;
        }
        .heading{
            top: 20%;
        }
        .btn {
        margin-top: 490px !important;
        
        } 
        .btn2 {
            margin-top: 490px !important;
            margin-left: 160px;
        }
        .heading{
            font-size: 28px !important;
        }
       }

       @media screen and (max-width: 669px)and (min-width: 625px) {
        .maindiv{
            height: 100vh;
        }
        .heading{
            top: 18%;
        }
        .btn {
        margin-top: 450px !important;
        
        } 
        .btn2 {
            margin-top: 450px !important;
            margin-left: 160px;
        }
        .heading{
            font-size: 24px !important;
        }
       }

       @media screen and (max-width: 624px)and (min-width: 580px) {
        .maindiv{
            margin-top: 40px;
        }
       
        .btn {
        margin-top: 410px !important;
        
        } 
        .btn2 {
            margin-top: 410px !important;
            margin-left: 160px;
        }
        .heading{
            font-size: 26px !important;
        }
       }

       @media screen and (max-width: 579px)and (min-width: 550px) {
        .btn {
        margin-top: 360px !important;
        
        }  
        .btn2 {
            margin-top: 415px !important;
            margin-left: 0px;
        }
         .heading{
            font-size: 20px !important;
             margin-top: -20px;
        }
       }

       
       @media screen and (max-width: 549px)and (min-width: 500px) {
         .maindiv{
            /* height: 120vh !important; */
         margin-top: 20px;  
        } 
       
        .btn {
        margin-top: 340px !important;
        
        }  
        .btn2 {
            margin-top: 385px !important;
            margin-left: 0px;
        }
         .heading{
            font-size: 16px !important;
        }
       }

       @media screen and (max-width: 499px)and (min-width: 480px) {
        .maindiv{
        margin-top: 20px;  
       } 
      
       .btn {
       margin-top: 320px !important;
       
       }  
       .btn2 {
           margin-top: 365px !important;
           margin-left: 0px;
       }
        .heading{
           font-size: 16px !important;
       }
      }


/* 
       @media screen and (max-width: 500px)and (min-width: 350px) {
       
       .heading{
           font-size: 35px !important;
       }
        .container{
           width: 100% !important;
            height: 50vh;
        }
        .heading{
            top: 20%;
        }
        .btn {
        margin-top: 350px !important;
        
        } 
        .btn2 {
            margin-top: 400px !important;
            margin-left: 10px;
        }
       } */

        
    