.mainContainer{
    background-color: white;
}
.heading{
    text-align: center;
    margin-top: 75px;
}
 .btn{
    margin-bottom: 30px;
} 
.textFont{
color: white;
text-align: center;
}

.formItem{
    font-weight: bold;
    font-size: 70px;
}
.form{
    border-radius: 20px; 
    box-shadow: 2px 2px 2px 2px #808080;
    margin-left: 15%;
}
.regbutton{
    background: radial-gradient(at center center, rgba(42, 5, 143, 0.8) 0%, rgba(42, 5, 143, 0.8) 100%),  url("/bg.jpg")!important;
    color:white;
    width: 30%;
    margin-Left: 66%;
    border-color: #243c58 !important;
    margin-bottom: 20px !important;
}

.regbutton :hover{
    background-color:rgba(60, 35, 131, 0.8) !important;
    border-color: rgba(60, 35, 131, 0.8) !important;
    color: white;
}

@media screen and (max-width: 575px) {
    .regbutton{
        margin-Left: 36%;
    }
}