.footerbgColor{
    background-color: #2f4e71;
}
/* .menuclass{
    background-color: #2f4e71;
} */

.headingaddress h2{
 color: white;
}

.content h5{
    color: white;
}
.content h3{
    color: white;
}
.content a{
    color: white;
    font-size: 150%;
    
}
.footerContent{
    color:#e8cc68;
}
/* .ant-btn-primary {
    background:#e8cc68;
    border-color: #e8cc68;
}

.ant-btn-primary:hover {
    background: #f5d76e;
    border-color: #f5d76e;
} */
.footerButton{
    background-color:#e8cc68 !important;
    border-color: #e8cc68;
    font-weight: bold;
    color: #2f4e71;
}
.footerButton :hover{
    background-color: #f5d76e !important;
    border-color: #f5d76e !important;  
} 
.footerButton :focus{
    background-color: #d6bc5e !important;
    border-color: #d6bc5e !important;  
} 

 /* .ant-anchor-wrapper{
overflow-x: hidden;
overflow-y: hidden;
} */