/* .mainContainer{
    border-radius: 20%;
    border: 1px solid black;
    
} */

.space{
    margin-bottom: 20px;
    text-align: center;
}
.row{
    text-align: center;
}
/* 
.btn{
    background-color: #228B22;
}
.btn :hover{
    background-color: #228B22;
} */
.heading{
    margin-top: 75px;
    text-align: center;
}